.l_row {
  display: flex;
  justify-content: space-between;
  & .login {
    display: flex;
    align-items: center;
    margin: auto;
    & Form {
      font-family: "Vollkorn", serif;
    }
  }
}

.form-banner {
  /* max-height: 100%; */
  // height: 500px;
  width: 64%;
  /* background-color: aqua; */
  background: url(../Imeges/doct2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .row .login_img {
    height: 500px;
    width: 0;
    background-size: cover;
    background-image: url(../Imeges/doct.jpg);
} */
